/*color palatte #824A7A #82504A #814957 #744A82 #825A4A #847258 #D7C2C6*/

* {
    padding: 0%;
    margin: 0%;
    font-family: "Jockey One", sans-serif;
    font-weight: 100;
}

body {
    background-color: #FFFFFF;
}

.header {
    margin: 0%;
    display: flex;
    width: 100%;
    height: 17vh;
    background-color: #814957;
    align-items: center;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    animation: task 1.5s ease-in-out 0.25s;
    animation-fill-mode:forwards;
}

@keyframes task {
    100%{
        box-shadow: 2vw 2vw 1vw rgba(59, 57, 57, 0.356);
    }
}

.header h1 {
    color: #FFFFFF;
    width: 100vw;
    text-align: center;
    font-size: 13vh;
}

hr {
    border: 3px solid #42667a;
}

.add-section {
    padding-left: 8vw;
    width: 80vw;
    height: 10vh;
    padding-right: 8vw;
    margin-left: -72vw;
    animation: form-ani 2s ease-in 0.5s forwards;
}
@keyframes form-ani {
    100%{
        margin-left: 0;
    }
}

.add-section h1 {
    color: #42667a;
    font-size: 6vh;
    padding-top: 1.5vh;
}

#add-form {
    padding-top: 3vh;
    display: flex;
}

.add-form-task {
    width: 30vw;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #643843;
    color: #643843;
    font-size: 3.5vh;
}

.add-form-deadline {
    width: 15vw;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #643843;
    color: #643843;
    font-size: 3.5vh;
}

.add-form-priority {
    width: 15vw;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #643843;
    color: #643843;
    font-size: 3.5vh;
}

.add-form-desc {
    width: 20vw;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #643843;
    color: #643843;
    font-size: 3.5vh;
}

.add-form-submit {
    background-color: #814957;
    color: #FDF0D1;
    width: 20vw;
    font-size: 4.5vh;
    border-radius: 25px;
    border: 2px solid #FDF0D1;
}

.add-form-submit:hover {
    background-image: linear-gradient(#dd6b87, #612e3a);
    font-size: 5vh;
}

.main{
    display:flex;
}

.main-right-image {
    border-radius: 25px;
    float: right;
    width: 25vw;
    height: 60vh;
    border: 2px solid #FDF0D1;
    margin-top: 15vh;
}
#main-priority{
    font-size: 3vh;
    color: #42667a;
    width: 65vw;
    margin-left: 8vh;
    margin-top: 15vh;
}
.high-priority-task{
    background-color: rgb(182, 102, 102);
}
.medium-priority-task{
    background-color: rgb(196, 177, 116);
}
.low-priority-task{
    background-color: #FDF0D1;
}
.no-priority-task{
    background-color: #FFFFFF;
}